header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:black;
    position: sticky;
    top: 0; 
    width: 100%;
}
.Back {
    position: absolute;
    top: 10px;
    left: 10px;
}
.Back a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.Back a:hover{
    text-decoration: underline;
    font-size: larger;
    color: #D00000;
}
.menu {
    list-style: none;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 10px;
}

.menu li a {
    color:darkblue;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover {
    text-decoration: underline;
    color: #D00000;
}
.Profile {
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0;
    margin: 0;
}
.Profile li img {
    width: 100px; 
    height: auto; 
    border-radius: 50%; 
}
